<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

Comments:
<% @comments.each do |comment| %>
   <p><%= comment.body %> </br>Time:<%= comment.created_at %></p>
<% end %>

<%= link_to 'Add Comment', new_post_comment_path(@post) %> |
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
